body {
    background: rgb(219, 219, 219);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .buttons-container button {
    background-color: rgb(161, 158, 158);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2vw;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .buttons-container button:hover {
    background-color: rgb(120, 120, 120);
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
    text-align: center;
}

button {
    margin: 10px 0; 
    padding: 5px 10px; 
    font-size: 1.2rem; 
    background-color:rgb(78, 74, 74);; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #696969; 
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
}

th {
    background: rgb(78, 74, 74);
    color: white;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
    text-align: center;
}

.modal-content table {
    width: 100%;
    border-collapse: collapse;
}

.modal-content td {
    padding: 10px;
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}